* {
  transition: 0.5s;
}

body {
  height: 600px;

  background-color: #ecdbe8;
}

.grid {
  display: grid;

  grid-template-columns: repeat(2, 2fr);
  grid-gap: 1rem;
}

h1 {
  margin-top: 30px;
  margin-left: 50px;

  font-family: 'Rubik Mono One', sans-serif;
  font-size: 250px;
}

h2 {
  margin-left: 60px;

  font-family: 'Rubik Mono One', sans-serif;
  font-size: 50px;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
}

.grid.section1 figure {
  margin-top: 100px;
  margin-right: 40px;
  margin-left: 80px;

  grid-column: 2 / 2;
}

.grid.section2 figure {
  margin-top: -490px;

  grid-column: 1 / 2;
}

.fragment img {
  float: left;

  width: 100%;
  height: 100%;
  margin-top: 50px;

  box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

.grid.section3 figure {
  margin-top: -550px;
  margin-right: 20px;
  margin-left: 145px;

  grid-column: 2 / 3;
}

.logo img {
  position: absolute;

  width: 566px;
  height: 715px;
  margin-right: auto;
  margin-left: 0;

  opacity: .1;
}

button {
  margin-top: 150px;
  margin-bottom: 100px;
  margin-left: 550px;
  padding: 10px 50px;

  color: white;
  border-radius: 15px;
  background-color: black;
  box-shadow: 0 5px 20px rgba(142, 139, 139, 0.75);

  font-family: "Roboto", sans-serif;
  font-size: 64px;
}

button:hover {
  transition: .2s linear;

  color: black;
  background: #ffffff;
  box-shadow: 0 5px 20px rgba(142, 139, 139, 0.75);
}

.facebook {
  width: 80px;
  height: 80px;
  margin-top: -130px;
  margin-left: 110px;
}

.info {
  width: 80px;
  height: 80px;
  margin-top: -70px;
  margin-left: 570px;
}

.contacts p {
  float: left;

  margin: 30px;

  font-size: 30px;
}

.email p {
  float: right;

  margin: 30px;

  font-size: 30px;
}

@media all and (min-width: 1181px) and (max-width: 1370px) {
  .grid.section1 figure {
    margin-top: 100px;
    margin-right: -140px;
    margin-left: 150px;
  }

  .grid.section2 figure {
    margin-top: -540px;
  }

  .fragment img {
    width: 120%;
    height: 120%;
  }

  button {
    margin-left: 520px;
  }

  .logo img {
    margin-left: 130px;
  }

  .facebook {
    width: 80px;
    height: 80px;
    margin-top: -120px;
    margin-left: 110px;
  }

  .info {
    width: 80px;
    height: 80px;
    margin-top: -80px;
    margin-left: 540px;
  }

  .email p {
    margin-right: -170px;
  }
}

@media all and (max-width: 1180px) {
  h1 {
    font-size: 200px;
  }

  h2 {
    font-size: 40px;
  }

  .grid.section1 figure {
    margin-top: 100px;
    margin-right: -190px;
    margin-left: 130px;
  }

  .grid.section2 figure {
    margin-top: -540px;
  }

  .fragment img {
    width: 120%;
    height: 120%;
  }

  button {
    margin-left: 520px;
  }

  .logo img {
    margin-left: 60px;
  }

  .facebook {
    width: 80px;
    height: 80px;
    margin-top: -120px;
    margin-left: 110px;
  }

  .info {
    width: 80px;
    height: 80px;
    margin-top: -80px;
    margin-left: 540px;
  }

  .email p {
    margin-right: -170px;
  }
}

@media all and (max-width: 1024px) {
  h1 {
    font-size: 200px;
  }

  h2 {
    font-size: 40px;
  }

  .grid.section1 figure {
    margin-top: 100px;
    margin-right: -245px;
    margin-left: 130px;
  }

  .grid.section2 figure {
    margin-top: -540px;
  }

  .fragment img {
    width: 120%;
    height: 120%;
  }

  button {
    margin-left: 450px;
  }

  .facebook {
    width: 80px;
    height: 80px;
    margin-top: -120px;
    margin-left: 90px;
  }

  .info {
    width: 80px;
    height: 80px;
    margin-top: -80px;
    margin-left: 490px;
  }

  .email p {
    margin-right: -170px;
  }
}

@media all and (min-width: 769px) and (max-width: 910px) {
  h1 {
    font-size: 200px;
  }

  h2 {
    font-size: 40px;
  }

  .grid.section1 figure {
    margin-top: 100px;
    margin-right: -340px;
    margin-left: 150px;
  }

  .grid.section2 figure {
    margin-top: -550px;
  }

  .logo img {
    margin-left: 70px;
  }

  .fragment img {
    width: 130%;
    height: 130%;
  }

  button {
    margin-left: 450px;
  }

  .facebook {
    width: 80px;
    height: 80px;
    margin-top: -120px;
    margin-left: 90px;
  }

  .info {
    width: 80px;
    height: 80px;
    margin-top: -80px;
    margin-left: 490px;
  }

  .email p {
    margin-right: -270px;
  }
}

@media all and (max-width: 768px) {
  h1 {
    font-size: 190px;
  }

  h2 {
    font-size: 37px;
  }

  p {
    font-size: 35px;
  }

  .grid.section1 figure {
    margin-top: 100px;
    margin-right: -320px;
    margin-left: 140px;
  }

  .grid.section2 figure {
    margin-top: -460px;
  }

  .fragment img {
    width: 130%;
    height: 130%;
  }

  button {
    margin-left: 415px;
    padding: 5px 40px;

    font-size: 55px;
  }

  .facebook {
    width: 70px;
    height: 70px;
    margin-top: -90px;
    margin-left: 85px;
  }

  .info {
    width: 70px;
    height: 70px;
    margin-top: -70px;
    margin-left: 440px;
  }

  .email p {
    margin-right: -340px;
  }
}

@media all and (max-width: 650px) {
  .grid.section1 figure {
    margin-top: 100px;
    margin-right: -450px;
    margin-left: 220px;
  }

  .grid.section2 figure {
    margin-top: -460px;
  }

  .fragment img {
    width: 160%;
    height: 160%;
  }

  button {
    margin-left: 415px;
    padding: 5px 40px;

    font-size: 55px;
  }

  .facebook {
    width: 70px;
    height: 70px;
    margin-top: -90px;
    margin-left: 85px;
  }

  .info {
    width: 70px;
    height: 70px;
    margin-top: -70px;
    margin-left: 440px;
  }

  .email p {
    margin-right: -380px;
  }
}

@media all and (max-width: 550px) {
  h1 {
    font-size: 180px;
  }

  h2 {
    font-size: 30px;
  }

  .grid.section1 figure {
    margin-top: 100px;
    margin-right: -450px;
    margin-left: 210px;
  }

  .grid.section2 figure {
    margin-top: -460px;
  }

  .fragment img {
    width: 160%;
    height: 160%;
  }

  button {
    margin-left: 390px;
    padding: 5px 40px;

    font-size: 55px;
  }

  .facebook {
    width: 70px;
    height: 70px;
    margin-top: -90px;
    margin-left: 75px;
  }

  .info {
    width: 70px;
    height: 70px;
    margin-top: -70px;
    margin-left: 420px;
  }

  .email p {
    margin-right: -460px;
  }
}

@media all and (min-width: 500px) and (max-width: 520px) {
  h1 {
    font-size: 175px;
  }

  h2 {
    font-size: 25px;
  }

  .grid.section1 figure {
    margin-top: 100px;
    margin-right: -490px;
    margin-left: 220px;
  }

  .grid.section2 figure {
    margin-top: -460px;
  }

  .fragment img {
    width: 180%;
    height: 180%;
  }

  .logo img {
    margin-left: 50px;
  }

  button {
    margin-left: 380px;
    padding: 5px 40px;

    font-size: 55px;
  }

  .facebook {
    width: 70px;
    height: 70px;
    margin-top: -90px;
    margin-left: 75px;
  }

  .info {
    width: 70px;
    height: 70px;
    margin-top: -65px;
    margin-left: 410px;
  }

  .email p {
    margin-right: -490px;
  }
}

@media all and (min-width: 415px) and (max-width: 499px) {
  h1 {
    margin-left: 30px;
  }

  h2 {
    margin-left: 40px;
  }

  .grid.section1 figure {
    margin-top: 100px;
    margin-right: -570px;
    margin-left: 250px;
  }

  .grid.section2 figure {
    margin-top: -460px;
  }

  .fragment img {
    width: 200%;
    height: 200%;
  }

  .logo img {
    margin-left: 100px;
  }

  button {
    margin-left: 350px;
    padding: 5px 40px;

    font-size: 55px;
  }

  .facebook {
    width: 70px;
    height: 70px;
    margin-top: -90px;
    margin-left: 75px;
  }

  .info {
    width: 70px;
    height: 70px;
    margin-top: -65px;
    margin-left: 390px;
  }

  .email p {
    margin-right: -530px;
  }
}

@media all and (min-width: 375px) and (max-width: 414px) {
  h1 {
    margin-left: 10px;

    font-size: 185px;
  }

  h2 {
    margin-left: 20px;

    font-size: 35px;
  }

  p {
    font-size: 60px;
  }

  .grid.section1 figure {
    margin-top: 1600px;
    margin-right: -820px;
    margin-left: 70px;

    grid-column: 1 / 2;
  }

  .grid.section2 figure {
    margin-top: -2250px;

    grid-column: 1 / 2;
  }

  .fragment img {
    width: 500%;
    height: 500%;
  }

  .logo img {
    margin-left: 105px;
  }

  button {
    margin-top: 120px;
    margin-left: 250px;
    padding: 10px 50px;

    font-size: 100px;
  }

  .facebook {
    width: 100px;
    height: 100px;
    margin-top: -10px;
    margin-left: 170px;
  }

  .info {
    width: 100px;
    height: 100px;
    margin-top: -55px;
    margin-left: 270px;
  }

  .email p {
    margin-right: -590px;
  }
}

@media all and (min-width: 321px) and (max-width: 374px) {
  h1 {
    margin-left: 10px;

    font-size: 185px;
  }

  h2 {
    margin-left: 20px;

    font-size: 35px;
  }

  p {
    font-size: 60px;
  }

  .grid.section1 figure {
    margin-top: 1400px;
    margin-right: -820px;
    margin-left: 70px;

    grid-column: 1 / 2;
  }

  .grid.section2 figure {
    margin-top: -2060px;

    grid-column: 1 / 2;
  }

  .fragment img {
    width: 490%;
    height: 490%;
  }

  .logo img {
    margin-left: 100px;
  }

  button {
    margin-top: 120px;
    margin-left: 250px;
    padding: 10px 50px;

    font-size: 100px;
  }

  .facebook {
    width: 100px;
    height: 100px;
    margin-top: -10px;
    margin-left: 170px;
  }

  .info {
    width: 100px;
    height: 100px;
    margin-top: -55px;
    margin-left: 270px;
  }

  .email p {
    margin-right: -620px;
  }
}

@media all and (max-width: 320px) {
  h1 {
    margin-left: 10px;

    font-size: 185px;
  }

  h2 {
    margin-left: 20px;

    font-size: 35px;
  }

  p {
    font-size: 60px;
  }

  .grid.section1 figure {
    margin-top: 1400px;
    margin-right: -820px;
    margin-left: 70px;

    grid-column: 1 / 2;
  }

  .grid.section2 figure {
    margin-top: -2050px;

    grid-column: 1 / 2;
  }

  .fragment img {
    width: 550%;
    height: 550%;
  }

  .logo img {
    margin-left: 100px;
  }

  button {
    margin-top: 120px;
    margin-left: 250px;
    padding: 10px 50px;

    font-size: 100px;
  }

  .facebook {
    width: 100px;
    height: 100px;
    margin-top: -10px;
    margin-left: 170px;
  }

  .info {
    width: 100px;
    height: 100px;
    margin-top: -55px;
    margin-left: 270px;
  }

  .email p {
    margin-right: -620px;
  }
}
